<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - پنل متخصصین</title>

    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" />


    <link rel="stylesheet" href="~/css/customer-style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="bg-light">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-success border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand font-weight-bold" asp-area="" asp-controller="Home" asp-action="Index">سامانه خدمات منزل</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a href="#" class="nav-link text-white" @* asp-area="Expert" asp-controller="Home" asp-action="Index" *@>میز کار متخصص</a>
                        </li>
                       
                        <li class="nav-item">
                            <a  class="nav-link text-white" asp-area="Expert" asp-controller="Order" asp-action="Index">درخواست‌های جدید</a>
                        </li>
                       
                        <li class="nav-item">
                            <a  class="nav-link text-white"  asp-area="Expert" asp-controller="Proposal" asp-action="MyProposals">پیشنهادات من</a>
                        </li>
                    </ul>

                  
                    <ul class="navbar-nav">
                        @if (User.Identity!.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white fw-bold" href="#" id="expertDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    پنل متخصص: @User.Identity.Name
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end shadow border-0" aria-labelledby="expertDropdown">
                                    <li><a class="dropdown-item" asp-area="Expert" asp-controller="Profile" asp-action="Index">مشاهده پروفایل </a></li>
                                   
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <form method="post" asp-area="Identity" asp-controller="Account" asp-action="Logout">
                                            <button type="submit" class="dropdown-item text-danger">خروج از حساب</button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success">
                    @TempData["SuccessMessage"]
                </div>
            }

            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["ErrorMessage"]
                </div>
            }
            @RenderBody() 
        </main>
    </div>

    <footer class="border-top footer text-muted bg-white py-3 mt-auto">
        <div class="container text-center">
           
            &copy;  پنل کارشناسان   
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>